@model OnlineStore_Admin.ViewModels.ProductVM
@{
    ViewBag.Title = "Edit";
}


<h2> @Model.Product.Name</h2>
<p>Description : @Model.Product.Description</p>
<p>Category : @Model.Product.RefCategory.Name</p>
<p>Quantity : @Model.Product.Quantity</p>




